<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index | Simpler application</title>
  </head>
  <body>
    <h1>All tests:</h1>
    
    <% @tests.each do |test| %></p>
      <p>Title: <%= test.title %> | Level: <%= test.level %></p>
    <% end %>
  </body>
</html>